@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900');

	@import "libs/skel";

	@include skel-breakpoints((
		xxlarge: '(max-width: 1920px)',
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 1000px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border'
	));

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/section';
	@import 'components/table';
	@import 'components/poptrox-popup';
	@import 'components/gallery';

// Layout.

	@import 'layout/header';
	@import 'layout/main';
	@import 'layout/footer';

  .responsive-img {
    max-width: 100%;
    height: auto;
  }

/* About */
	#about {
		background: url("https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/bed.jpeg");
		background-size: cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
    @media (max-width: 736px) {
      background-attachment: scroll;
      background-position: center;
    }
	}

/* Fee */

	#fee {
		background: url("https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/hall-compressed.jpeg");
		background-size: cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
    @media (max-width: 736px) {
      background-attachment: scroll;
      background-position: center;
    }
	}

/* things to bring */

	#things-to-bring {
		background: url("https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/treehouse-compressed.jpeg");
		background-size: cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
    @media (max-width: 736px) {
      background-attachment: scroll;
      background-position: center;
    }
	}

/* Contact */

	#contact {
		overflow: hidden;

		.box {
			@include vendor('transition', 'transform #{_duration(fade-in)} ease');
			@include vendor('transform', 'translateY(0)');
			position: relative;
		}

		&.inactive {
			.box {
				@include vendor('transform', 'translateY(100%)');
			}
		}

		@include breakpoint(small) {
			.box {
				padding-bottom: 2em;
			}
		}
	}
