%header#header
  %nav
    %ul
      %li.languages
        = link_to "中文", "/cn"
      %li.languages
        = link_to "English", "/en"
      %li
        %a{:href => "#about"} 緣起
      %li
        %a{:href => "#fee"} 費用包括
      %li
        %a{:href => "#things-to-bring"} 需帶物品
      %li
        %a{:href => "#gallery"} 照片
      %li
        %a{:href => "#contact"} 咨詢
/ about
%section#about.main.style1.dark.fullscreen
  .content
    %p
      歡迎來到
      %strong 蒲莱山- 雨林樹屋
    %p
      抱著結合有機生活及休閑旅遊的想法，老闆在柔佛古來的埔萊山（Gunung Pulai）外圍租下一片林，在林地裏的樹上蓋屋子，創立了「雨林樹屋」（Rainforest Tree House）， 希望能透過體驗式教育讓習慣了城市生活的人接近自然，學習與環境和平共處。
      大概走上10分鐘的山路（大約有300個梯級）就會抵達第一間樹屋。目前樹屋區只占有六間各具不同特色的樹屋，都以雙層建築而造。你可以從木梯爬行而上，便進入了寬尚遼闊的樹屋裏。此外，樹屋區的中心還有一間可容易60人的大禮堂，裏頭有著許多捕夢網的裝飾，還備有吊床。
      樹屋的簡單設施包括：電插座、蚊網、床，被單、枕頭；沖涼房備有馬桶、洗臉盆和花灑。 沖涼房的水都來自純淨的山水，所以會有沁涼的感覺哦。
    %footer
      %a.button.style2.down{:href => "#fee"} 更多

/ fee
%section#fee.main.style2.right.dark.fullscreen
  .content.box.style2
    %header
      %h2 費用包括
    %p
      %strong 2天1夜:
      1晚餐（素食火鍋）, 1早餐（椰漿飯）
    %p
      %strong 3天2夜:
      2晚餐, 2早餐（椰漿飯）, 1午餐
    %p
      %strong 活動包括
      %br
      %i - 樹屋介紹
      %br
      %i - 森林步行
      %br
      %i - 瀑布行
      %br
      %i - 蜜蜂生態講解 （含解說員）
    %p.note
      %strong 注：
      我們也很樂意為大家安排一些額外的活動，例如：參觀黃梨園 / 溯溪 + 垂降。這些活動另外收費，如果有興趣的話可以提早預約。
    %p.note
      %strong 注：
      2pm入住，12pm退房。
    %p.note
      %strong 注：
      如果有帶外食請自行把垃圾帶回走。樹屋範圍嚴禁抽煙。

  %a.button.style2.down.anchored{:href => "#things-to-bring"} 更多

/ Things to bring
%section#things-to-bring.main.style2.left.dark.fullscreen
  .content.box.style2
    %header
      %h2 需帶物品
    %br
    %i - 背包
    %br
    %i - 換洗衣物（長褲必帶以防蚊蟲）
    %br
    %i - 毛巾
    %br
    %i - 水瓶
    %br
    %i - 盥洗用具
    %br
    %i - 防蚊劑
    %br
    %i - 雨傘（以備不時之需）
  %a.button.style2.down.anchored{:href => "#gallery"} 更多

/ gallery
%section#gallery.main.style3.primary
  .content
    %header
      %h2 照片
    / Gallery
    = render "home/shared/photo"

%section#booking.main.style3.primary
  .content
    %header
      %h2 預約
    .row
      .col-md-3.room
        .card
          %img.card-img-top.responsive-img{src: "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg"}
          .card-content
            .card-block
              %p.card-title 四人或以上(2天1夜)
              %h4.card-text Max: 12
            .row
              .col-md-8
                %h4.price-text RM100/成人
              .col-md-4
                .select-style
                  %select.no-of-adults(data-bind="value: noOfAdultsForMany, options: optionsForMany")
            .row
              .col-md-8
                %h4.price-text RM60/小孩
              .col-md-4
                .select-style
                  %select.no-of-kids(data-bind="value: noOfKidsForMany, options: optionsForMany")

      .col-md-3.room
        .card
          %img.card-img-top.responsive-img{src: "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg"}
          .card-content
            .card-block
              %p.card-title 三人(2天1夜)
              %h4.card-text Max:3
            .row
              .col-md-8
                %h4.price-text RM110/成人
              .col-md-4
                .select-style
                  %select.no-of-adults(data-bind="value: noOfAdultsForThree, options: optionsForThree")
            .row
              .col-md-8
                %h4.price-text RM60/小孩
              .col-md-4
                .select-style
                  %select.no-of-kids(data-bind="value: noOfKidsForThree, options: optionsForThree")

      .col-md-3.room
        .card
          %img.card-img-top.responsive-img{src: "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg"}
          .card-content
            .card-block
              %p.card-title 二人或以下(2天1夜)
              %h4.card-text Max: 2
            .row
              .col-md-8
                %h4.price-text RM130/成人
              .col-md-4
                .select-style
                  %select.no-of-adults(data-bind="value: noOfAdultsForTwo, options: optionsForTwo")
            .row

      .col-md-3.room
        .card
          %img.card-img-top.responsive-img{src: "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg"}
          .card-content
            .card-block
              %p.card-title 四人或以上(3天2夜)
              %h4.card-text Max: 12
            .row
              .col-md-8
                %h4.price-text RM180/成人
              .col-md-4
                .select-style
                  %select.no-of-adults(data-bind="value: noOfAdultsForThreeDays, options: optionsForMany")
            .row
              .col-md-8
                %h4.price-text RM100/小孩
              .col-md-4
                .select-style
                  %select.no-of-kids(data-bind="value: noOfKidsForThreeDays, options: optionsForMany")

    .row.booking
      .col-md-3.col-md-offset-9
        .total-price
          %span.total-price-text.left-col Total Price: RM
          %span.total-price-amount.right-col(data-bind="text: price")

    .row.booking-date-row
      .col-md-3.col-md-offset-9
        %input.datepicker.booking-date{type: "text", placeholder: "Your available date", "data-bind": "value: availableDate"}

    .row.booking
      .col-md-3.col-md-offset-9
        %button.btn.btn-danger(data-bind="enable: canBook, click: book") Book Now

%section#contact.main.style3.secondary
  .content
    %header
      %h2 咨詢
    .row
      .col-md-6.col-xs-12
        #map{:style => "width:100%;height:500px"}
      .col-md-6.col-xs-12
        %p
          %strong 地址
          %br
          Jalan air terjun , kg sri gunung pulai
        %p
          %strong 如何前往:
          %br
          從Kulai Tol出來50米后，向右轉
          %br
          10公里后，你會看到一個褐色的牌子寫著：
          %i Homestay Gunung Pulai
          %br
          向左轉，你就會抵達甘榜區域
          %br
          向前直走大概1公里后，你就會看到奇特造型的樹屋門面，我們就在你左手邊
        %p
          %strong 聯絡
          %br
          Feel free to call this number if there is anything:
        %ul
          %li +6016-3823145  林星星
          %li +6010-2466123  Michelle
          %li +6016-7560086  玉如

= render "home/shared/gallery_plugin"
