/ Footer
%footer#footer
  / Icons
  %ul.actions
    %li
      %a.icon.fa-facebook{:href => "#"}
        %span.label Facebook
    %li
      %a.icon.fa-instagram{:href => "#"}
        %span.label Instagram
  / Menu
  %ul.menu
    %li © Untitled
    %li
      Design:
      %a{:href => "https://html5up.net"} HTML5 UP
