/ Footer
%footer#footer
  / Icons
  %ul.actions
    %li
      %a.icon.fa-facebook{href: "https://www.facebook.com/rainforest.treehouse.johor/"}
        %span.label Facebook
    %li
      %a.icon.fa-instagram{href: "https://www.instagram.com/explore/tags/rainforesttreehouse/"}
        %span.label Instagram
  / Menu
  %ul.menu
    %li © Sam's studio
    %li
      Design:
      %a{:href => "https://html5up.net"} HTML5 UP
