:javascript
  function initMap() {
    var mapCanvas = document.getElementById('map');
    if(mapCanvas){
      var treehouse = { lat: 1.5904932, lng: 103.516292 };
      var mapOptions = {
        center: treehouse,
        zoom: 15
      }
      var map = new google.maps.Map(mapCanvas, mapOptions);
      var marker = new google.maps.Marker({
        position: treehouse,
        map: map
      });
    }
  }
