%header#header
  %nav
    %ul
      %li.languages
        = link_to "中文", "/cn"
      %li.languages
        = link_to "English", "/en"
      %li
        %a{:href => "#about"} About
      %li
        %a{:href => "#fee"} Fee
      %li
        %a{:href => "#things-to-bring"} Things to bring
      %li
        %a{:href => "#gallery"} Gallery
      %li
        %a{:href => "#contact"} Contact
