%header#header
  %nav
    %ul
      %li
        %a{:href => "#about"} About
      %li
        %a{:href => "#fee"} Fee
      %li
        %a{:href => "#things-to-bring"} Things to bring
      %li
        %a{:href => "#gallery"} Gallery
      %li
        %a{:href => "#contact"} Contact

  .row
    .col-md-1.col-xs-3
      .languages
        = link_to "中文", "/cn"
        = link_to "English", "/en"
