%header#header
  .row
    .col-md-10.col-xs-7
    .col-md-1.col-xs-2#header-icons
      %ul.icons
        %li
          %a.icon.fa-facebook{:href => "https://www.facebook.com/rainforest.treehouse.johor/"}
            %span.label Facebook
        %li
          %a.icon.fa-instagram{:href => "https://www.instagram.com/explore/tags/rainforesttreehouse/"}
            %span.label Instagram
    .col-md-1.col-xs-3
      .languages
        = link_to "中文", "/cn"
        = link_to "English", "/en"

