#links.gallery
  %article.from-left
    %a.image.fit{:href => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/bed.jpeg", :title => "bed"}
      %img.treehouse-pic{:alt => "Bed", :src => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/thumbnail/bed.jpg"}
  %article.from-right
    %a.image.fit{:href => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/thumbnail/window.jpg", :title => "window"}
      %img.treehouse-pic{:alt => "Treehouse", :src => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/thumbnail/window.jpg"}
  %article.from-left
    %a.image.fit{:href => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/hall.jpeg", :title => "hall"}
      %img.treehouse-pic{:alt => "Bed", :src => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/hall.jpeg"}
  %article.from-right
    %a.image.fit{:href => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/treehouse_and_yao.jpg", :title => "yao_and_house"}
      %img.treehouse-pic{:alt => "Treehouse", :src => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/treehouse_and_yao.jpg"}
  %article.from-left
    %a.image.fit{:href => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/treehouse.jpeg", :title => "tree_house"}
      %img.treehouse-pic{:alt => "Bed", :src => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/treehouse.jpeg"}
  %article.from-right
    %a.image.fit{:href => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/toilet.jpg", :title => "hall"}
      %img.treehouse-pic{:alt => "Treehouse", :src => "https://s3-ap-southeast-1.amazonaws.com/pulai-treehouse/toilet.jpg"}
