#links
  .row
    .col-md-3.col-xs-6
      %a{:href => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643291/5_osfdqx.jpg", :title => "bed"}
        %img.treehouse-pic{:alt => "Bed", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643291/5_osfdqx.jpg"}
    .col-md-3.col-xs-6
      %a{:href => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg", :title => "window"}
        %img.treehouse-pic{:alt => "Treehouse", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg"}
    .col-md-3.col-xs-6
      %a{:href => "http://res.cloudinary.com/samkahchiin/image/upload/v1481643305/1_vjelzy.jpg", :title => "hall"}
        %img.treehouse-pic{:alt => "Hall", :src => "http://res.cloudinary.com/samkahchiin/image/upload/v1481643305/1_vjelzy.jpg"}
    .col-md-3.col-xs-6
      %a{:href => "http://res.cloudinary.com/samkahchiin/image/upload/v1481643280/4_drv482.jpg", :title => "toilet"}
        %img.treehouse-pic{:alt => "Bathroom", :src => "http://res.cloudinary.com/samkahchiin/image/upload/v1481643280/4_drv482.jpg"}
