#links.gallery
  %article.from-left
    %a.image.fit{:href => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643291/5_osfdqx.jpg", :title => "bed"}
      %img.treehouse-pic{:alt => "Bed", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643291/5_osfdqx.jpg"}
  %article.from-right
    %a.image.fit{:href => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg", :title => "window"}
      %img.treehouse-pic{:alt => "Treehouse", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643298/2_vdrkmk.jpg"}
  %article.from-left
    %a.image.fit{:href => "http://res.cloudinary.com/samkahchiin/image/upload/v1481643305/1_vjelzy.jpg", :title => "bed"}
      %img.treehouse-pic{:alt => "Bed", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1481643291/5_osfdqx.jpg"}
  %article.from-right
    %a.image.fit{:href => "https://res.cloudinary.com/samkahchiin/image/upload/c_scale,h_3000/v1485357291/treehouse_and_yao_2.jpg", :title => "yao_and_house"}
      %img.treehouse-pic{:alt => "Treehouse", :src => "https://res.cloudinary.com/samkahchiin/image/upload/c_scale,h_3000/v1485357291/treehouse_and_yao_2.jpg"}
  %article.from-left
    %a.image.fit{:href => "https://res.cloudinary.com/samkahchiin/image/upload/v1485357011/treehouse_and_yao.jpg", :title => "tree_house_and_yao"}
      %img.treehouse-pic{:alt => "Bed", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1485357011/treehouse_and_yao.jpg"}
  %article.from-right
    %a.image.fit{:href => "https://res.cloudinary.com/samkahchiin/image/upload/v1485357037/hall.jpg", :title => "hall"}
      %img.treehouse-pic{:alt => "Treehouse", :src => "https://res.cloudinary.com/samkahchiin/image/upload/v1485357037/hall.jpg"}
